* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  min-width: 350px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10vh auto 5vh;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}

.header {
  grid-area: header;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(190, 190, 190);
}

.elemento{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 85% 15%;
  grid-template-areas:
    "imag texto"
    "imag remove";
  overflow-x: hidden;
  width: 96%;
  margin: 0;
  margin-bottom: 2vh;
  padding: 2%;
  box-shadow: 1px 1px 1px 1px rgb(56, 53, 53);
}

.text{
  grid-area: texto;
}

.titulo {
  color: black;
  font-weight: bold;
  font-size: 5vh;
  display: flex;
}

section {
  grid-area: main;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 5vh;
  border-radius: 0.5vh;
}


section div {
  width: 80%;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 2vh;
  border-radius: 0.5vh;
}

section div label {
  font-size: 2.5vh;
  font-weight: bold;
  color: black;
  margin-bottom: 1vh;
}

.tot{
  width: 90%;
  margin: 0;
  margin-bottom: 1vh;
  color: rgb(102, 102, 102);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px rgb(56, 53, 53);
  padding: 1vh;
  
}

#totProd, #frete, #total{
  color: green;
  font-weight: bolder;
}

#frete{
  text-align: right;
}

#formaPag{
  color: rgb(38, 54, 143);
}

#detalhes{
  color: red;
}

.number{
  display: flex;
  justify-content: center;
  align-self: flex-end;
  flex-direction: row;
  width: 50%;
  font-weight: bold;
}


.dadosCart{
  display: none;
  align-self: center;
  justify-content: space-between;
  margin: 0;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0;
  width: 80%;
}

.pag{
  width: 90%;
  margin: 0;
  margin-bottom: 1vh;
  color: rgb(102, 102, 102);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgb(56, 53, 53);
  padding: 1vh;
  
}

.pag label{
  margin: 0;
  margin-left: 2px;
  color: rgb(102, 102, 102);
  font-size: 2vh;
  font-weight: 500;
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0;
  width: 100%;
}

.dentroRow {
  margin: 0;
  padding: 0;
  width: 50%;
}


.image{
  grid-area: imag;
  justify-content: center;
  align-self: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


#cpf, #celular{
  width: 90%;
}

#telefone{
  width: 60%;
}


input{
  background: none;
  border: none;
  font-size: 2.5vh;
  color: green;
}

.row p{
  font-weight: 500;
  font-size: 2vh;
}

.comprar{
  font-size: 2vh;
  width: auto;
  background-color: rgb(51, 100, 51);
  justify-self: flex-end;
  align-self: center;
  margin: 0;
  border: black solid 2px;
  border-radius: 3px;
  padding: 1vh;
  color: white;
}

.comprar:active{
  border: solid 2px gray;
}

.footer {
  grid-area: footer;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(37, 37, 37, 0.8);
}

.footer p {
  color: white;
  font-size: 2vh;
}

@media screen and (max-width: 600px) {
  main {
    min-width: 350px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vh auto 5vh;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
  }

  

  section{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3vh;
    background-color: transparent;
  }

  section div {
    width: 100%;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
    padding: 2vh;
    border-radius: 1vh;
  }

  .dentroRow label{
    font-size: 12px;
  }
  
  .pag{
    width: 90%;
    margin: 0;
    margin-bottom: 1vh;
    color: rgb(102, 102, 102);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgb(56, 53, 53);
    padding: 1vh;
    color: green;
  }
}